<mat-tab-group>

  <mat-tab label="Cartones">
    <br><br><br>
    <mat-card style="width: 90%;">
      <form [formGroup]="form">
        <mat-form-field style="width: 90%;" appearance="outline">
          <mat-label>Numeros de cartones</mat-label>
          <input formControlName="cartonesNo" matInput placeholder="Placeholder">
        </mat-form-field>
      </form>

      <button style="width: 90%;" mat-raised-button color="primary" (click)="updateSettings()">
        Guardar cambios
    </button>
    </mat-card>
  </mat-tab>

  <mat-tab label="Precio partidas">
    <br><br><br>
    <mat-card style="width: 90%;">
      <form [formGroup]="form2">
        <mat-form-field style="width: 90%;" appearance="outline">
          <mat-label>Precios de partidas</mat-label>
          <input formControlName="priceValue" matInput placeholder="Placeholder">
        </mat-form-field>
      </form>

      <button style="width: 90%;" mat-raised-button color="primary" (click)="updatePriceSettings()">
        Guardar cambios
    </button>
    </mat-card>
  </mat-tab>

  <mat-tab label="Imagenes">

  </mat-tab>

</mat-tab-group>