<form [autocomplete]="false" [formGroup]="recuperateForm">
    <h1>Recuperar contrasena</h1>
    <input class="form-control" type="email" formControlName="email" placeholder="Email" />
    <br>
    <input class="form-control" type="password" formControlName="password" placeholder="Password"/>
    <br>
    <input class="form-control" [hidden]="!canShowCodeInput" type="password" placeholder="Code" formControlName="code" />
    <br>
    <button class="btn btn-primary btn-lg btn-block" (click)="sendCode()" [hidden]="!isVerifyMoment">Verificar</button>
    <button class="btn btn-secondary btn-lg btn-block" (click)="updatePassword()" [hidden]="isVerifyMoment">Actualizar</button>
  </form>
  