<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bingo Velez</title>
  </head>
  <body>
    <main class="main-container">
      <section class="cards">
        <div class="card" *ngFor="let item of items">
          <div class="top-content">
            <input type="text" class="input-name"/>
            <button class="refresh-button">
              <img src="../../../../assets/img/logos/refresh.svg" alt="" />
            </button>
          </div>
          <div class="cuadriculas">
            <table class="table">
              <thead>
                <tr class="t-head">
                  <th>{{ item.title.B }}</th>
                  <th>{{ item.title.I }}</th>
                  <th>{{ item.title.N }}</th>
                  <th>{{ item.title.G }}</th>
                  <th>{{ item.title.O }}</th>
                </tr>
              </thead>
              <tbody>
                <tr class="t-body">
                  <td>{{ item.row1.column1 }}</td>
                  <td>{{ item.row1.column2 }}</td>
                  <td>{{ item.row1.column3 }}</td>
                  <td>{{ item.row1.column4 }}</td>
                  <td>{{ item.row1.column5 }}</td>
                </tr>
                <tr class="t-body">
                  <td>{{ item.row2.column1 }}</td>
                  <td>{{ item.row2.column2 }}</td>
                  <td>{{ item.row2.column3 }}</td>
                  <td>{{ item.row2.column4 }}</td>
                  <td>{{ item.row2.column5 }}</td>
                </tr>
                <tr class="t-body middle-row">
                  <td>{{ item.row3.column1 }}</td>
                  <td>{{ item.row3.column2 }}</td>
                  <td><img [src]="item.row3.column3" /></td>
                  <td>{{ item.row3.column4 }}</td>
                  <td>{{ item.row3.column5 }}</td>
                </tr>
                <tr class="t-body">
                  <td>{{ item.row4.column1 }}</td>
                  <td>{{ item.row4.column2 }}</td>
                  <td>{{ item.row4.column3 }}</td>
                  <td>{{ item.row4.column4 }}</td>
                  <td>{{ item.row4.column5 }}</td>
                </tr>
                <tr class="t-body last-row">
                  <td>{{ item.row5.column1 }}</td>
                  <td>{{ item.row5.column2 }}</td>
                  <td>{{ item.row5.column3 }}</td>
                  <td>{{ item.row5.column4 }}</td>
                  <td>{{ item.row5.column5 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
