<mat-toolbar color="primary">
    <mat-icon
      class="menu-item clickable"
      (click)="Toogle()"
      aria-hidden="false"
      title="Toogle menu"
      aria-label="Toogle the menu"
    >
      menu</mat-icon
    >
  
    <span class="menu-item">Bingo Velez</span>
  
    <span class="fill-space"></span>
  
    <mat-icon
      *ngIf="showMenu"
      [matMenuTriggerFor]="menu"
      class="menu-item clickable"
      >more_vert</mat-icon
    >
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  
    <div class="logout clickable" (click)="Logout()">
      <span class="user"> {{ userName }} </span>
      <span class="material-icons">logout</span>
    </div>
  </mat-toolbar>
