<mat-card style="margin-top: 30px; width: 90%; text-align: center;">

    <mat-form-field style="width: 90%;" appearance="outline">
        <mat-label>Ingresa un rango de fecha</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

    </mat-form-field>

    <button style="width: 90%;" mat-raised-button color="primary" (click)="searchByDates()">
        Buscar por fechas
    </button>

</mat-card>

<mat-card style="margin-top: 60px; width: 90%; text-align: center;" *ngIf="!canShowNotificationToUser">
    <div class="table-responsive">
        <table class="table">
            <caption>Listado de ganadores</caption>
            <thead>
                <tr>
                    <th scope="col">Nombre ganador</th>
                    <th scope="col">Nombre jugada</th>
                    <th scope="col">Monto ganado</th>
                    <th scope="col">Partida</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of details">
                    <th scope="row"> {{ detail.winnerName }} </th>
                    <td> {{ detail.playName }} </td>
                    <td> {{ detail.amount | currency }} </td>
                    <td> {{ detail.partida }} </td>
                    <td> {{ detail.createdAt | date }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-card>

<mat-card style="margin-top: 60px; width: 90%; text-align: center;" *ngIf="canShowNotificationToUser">
    <p class="text-danger">
        {{ notExistsWinners }}
    </p>
</mat-card>